// Import Google fonts
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Lateef&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Lateef&display=swap');

// Define fonts for body and headers
$body-font:  "Handlee", "Lateef", "Handlee";
$headers-font: "Handlee", "Lafteef", "Bad Script";
$nav-link:  "Handlee", "Lateef", "Handlee";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
