// Specific CSS for your home-page
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Lateef&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Lateef&display=swap");

.text-container{
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 60px;
  align-content: center;
}