// Specific CSS for your home-page
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Lateef&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Lateef&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

.text-container{
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 30px;
  align-content: center;
  text-align: center;
  font-size: 20px;
}
    @media (min-width: 996px) {
      .text-container{
      padding-top:  30px;
      padding-left: 70px;
      padding-right: 70px;
      }
    }

h2{
  /* padding-top: 30px; */
  position: absolute;
  align-items: center;
  text-align: center;
  padding-left: 50%;
}

@media (max-width: 500px){
  h2{
    padding-left: 38%;
  }
}

@media (max-width: 800px){
  h2{
    padding-left: 45%;
  }
}