#contact-container{
  padding-top: 5%;
  padding-bottom: 8%;
}

@media (max-width: 1100px){
  #contact-container{
    padding-top: 5%;
    padding-bottom: 13%;
  }
}

@media (max-width: 800px){
  #contact-container{
    padding-top: 5%;
    padding-bottom: 15%;
  }
}
@media (max-width: 600px){
  #contact-container{
    padding-top: 5%;
    padding-bottom: 17%;
  }
}