<div class="footer">
  <div class="footer-links">
    <%# <a href="/"><i class="fab fa-instagram"></i></a> %>
    <a href="https://www.facebook.com/clareharpercakes/" target="blank"><i class="fab fa-facebook"></i></a>
    <%# <%= link_to "Contact Clare", contact_path %>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> Me
  </div>
</div>