.navbar-lewagon {
  justify-content: space-between;
  background: #28ABB9;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.nav-link{
  color:white !important;
  font-size: 18px;
}
