.navbar {
  justify-content: space-between;
  background-color: #28ABB9;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: background-color 1s ease 0s !important;
}

.navbar.transparent {
  background-color: transparent !important;
  transition: background-color 1s ease 0s !important;
  box-shadow: 0 0 1px white !important;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.nav-link{
  color:pink !important;
  font-size: 18px;
  //sets up hover
  position: relative;
  top: 0;
  transition: all .1s ease-in;
  z-index: 1000;
}

.nav-link:hover{
 color:pink !important;
 top: -2px;
 //box-shadow: 0 4px 5px rgba(0,0,0,0.2);
 text-decoration: none;
}